/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.combo-box{
	-fx-background-color: transparent;
	-fx-border-color: #1a237e;
	-fx-border-radius: 8px;
}